<footer>
  <div class="footer-text">
    <p>Copyright © 2023. iLearn Plc. All rights reserved.</p>
  </div>
  <script th:src="@{/js/bootstrap.js}"></script>
  <div class="footer-icons">
    <a href="https://www.facebook.com/beauvais364" th:target="_blank" ><i class='bx bxl-facebook'></i></a>
    <a href="https://twitter.com/Lunatique364"  th:target="_blank" ><i class='bx bxl-twitter'></i></a>
    <a href="https://www.linkedin.com/in/stefan-stefanov-56398b153/" th:target="_blank" ><i class='bx bxl-linkedin'></i></a>
  </div>
</footer>