<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <a href="#" class="logo">
    <img src="/images/logonew2.png" >
  </a>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="#">Categories</a></li>
    <li><a href="#">Courses</a></li>
    <li><a class="nav-link" href="/about">About Us</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
  <div class="header-icons">
    <ul>
      <li><a href="#"><i class='bx bx-heart'></i></a></li>
      <li>
        <a href="/"><i class='bx bx-user'></i></a>
        <ul class = "dropdown">
          <li>
            <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}">
              <a class="nav-link">Logout</a>
            </form>
          </li>
          <li>
            <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/profile}">
              <a class="nav-link">My Profile</a>
            </form>
          </li>
          <li><a class="nav-link" href="/login">Login</a></li>
          <li><a class="nav-link" href="/register">Register</a></li>
        </ul>
      </li>
      <li><a href="#"><i class='bx bx-cart'></i></a></li>
    </ul>
  </div>
</header>