<header xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
  <a href="#" class="logo">
    <img src="/images/logonew2.png" >
  </a>
  <ul class="navbar">
    <li><a href="/">Home</a></li>
    <li><a href="/categories">Categories</a></li>
    <li><a href="/courses">Courses</a></li>
    <li sec:authorize="hasRole('ROLE_ADMIN')"><a href="/all-users">Users</a></li>
    <li sec:authorize="!hasRole('ROLE_ADMIN')"><a class="nav-link" href="/about">About Us</a></li>
    <li sec:authorize="!hasRole('ROLE_ADMIN')"><a href="/contact">Contact</a></li>
  </ul>
  <div class="header-icons">
    <ul>
      <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/my-courses"><i class='bx bx-heart'></i></a></li>
      <li th:unless="${#authorization.expression('isAuthenticated()')}"><a href="/login"><i class='bx bx-heart'></i></a></li>
      <li>
        <a href="/"><i class='bx bx-user'></i></a>
        <ul class = "dropdown">
          <li>
            <form sec:authorize="isAuthenticated()" th:method="get" th:action="@{/user/{username}}">
              <a class="nav-link" th:href="@{/user/{username}(username=${#authentication.getName()})}">My Profile</a>
            </form>
          </li>
          <li>
            <form sec:authorize="isAuthenticated()" th:method="post" th:action="@{/logout}">
              <button class="nav-link" type="submit">Logout</button>
            </form>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/login">Login</a>
          </li>
          <li sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/register">Register</a>
          </li>
        </ul>
      </li>
      <li th:if="${#authorization.expression('isAuthenticated()')}"><a href="/my-cart"><i class='bx bx-cart'></i></a></li>
      <li th:unless="${#authorization.expression('isAuthenticated()')}"><a href="/login"><i class='bx bx-cart'></i></a></li>
    </ul>
  </div>
</header>