<!DOCTYPE html>
<html lang="en">
<th:block th:replace="~{fragments/head.html}"></th:block>
<body>
<th:block th:replace="~{fragments/header.html}"></th:block>
<section class="about-us" id="about-us">
<div class="about-us-text">
  <h1 class="about-us-title text-justify">Welcome to iLearn – Your Gateway to Knowledge!</h1>
  <p>At iLearn, we're dedicated to empowering individuals with the skills and knowledge they need to thrive in an ever-evolving world.
    We believe that learning is a lifelong journey, and our mission is to make education accessible to all, regardless of age, background, or location.
  </p>
  <h2 class="out-vision text-center">Our Vision</h2>
  <p></p>
  <p>Our vision at iLearn is to redefine the way people learn and grow. We aspire to create a global community of learners, where anyone can embark on a learning adventure tailored to their unique interests and goals.
    We believe that learning should be engaging, interactive, and enjoyable, and our courses reflect that commitment.
  </p>
  <h2>What Sets Us Apart?</h2>
  <p></p>
  <ul>
    <li>
      <strong>Diverse Course Catalog:</strong> iLearn offers a vast array of courses, covering a wide range of subjects, from technology and business to arts and personal development.
      Whatever your passion or career goals, you'll find a course that suits your needs.
    </li>
    <li>
      <strong>Expert Instructors:</strong> Our courses are developed and taught by industry experts and experienced educators who are passionate about sharing their knowledge. They bring real-world experience to the virtual classroom.
    </li>
    <li>
      <strong>Flexible Learning:</strong> We understand that life is busy, which is why our courses are designed to be flexible. Learn at your own pace, on your schedule, and from the comfort of your home.
    </li>
    <li>
      <strong>Interactive Learning:</strong> We believe that learning is most effective when it's interactive. Our courses are filled with quizzes, assignments, and collaborative projects to reinforce your understanding.
    </li>
    <li>
      <strong>Community Support:</strong> Join a vibrant community of learners. Interact with instructors and fellow students through discussion forums, Q&A sessions, and networking events.
    </li>
    <li>
      <strong>Certifications:</strong> Many of our courses offer certificates upon completion, recognized by industries and employers worldwide. These certifications can help you take your career to the next level.
    </li>
    <h2>Our Commitment to Excellence</h2>
    <p>
      At iLearn, we're committed to excellence in education. We continuously update and improve our course content, technology, and learning resources to ensure you have the best learning experience possible. Our goal is to inspire you to become a lifelong learner and achieve your personal and professional goals.
    </p>
    <p>
      Join the iLearn community today and embark on a journey of discovery, growth, and transformation. Start your learning adventure with us, and let's shape a brighter future together.
    </p>
    <p> <em> Unlock your potential with iLearn - Where Knowledge Knows No Boundaries.</em> </p>
  </ul>
</div>
<div class="home-img">
  <img src="">
</div>
<div>
  <a href="#" class="back-to-top"><i class='bx bxs-chevron-up'></i></a>
</div>
</section>
<th:block th:replace="~{fragments/footer.html}"></th:block>

</body>
</html>
