<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/all-users.css}">
</head>
<body>

<th:block th:replace="~{fragments/header.html}"></th:block>
<div class="container" th:action="@{/all-users}" th:method="POST" th:object="${allUsersView}" >
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>User</span></th>
                                <th><span>Joined</span></th>
                                <th><span>Full Name</span></th>
                                <th><span>Email</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${allUsersView.getAllUsers()}">
                                <td >
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                    <a th:text="${user.username}" th:href="@{/user/{username}(username=${user.getUsername()})}" class="user-link">Username</a>
                                    <span th:text="${user.role}" class="user-subhead">Role</span>
                                </td>
                                <td>
                                    <span th:text="${user.joined}" class="user-subhead">Date</span>
                                </td>
                                <td>
                                    <span th:text="${user.firstName} + ' ' + ${user.lastName}">Full name</span>
                                </td>
                                <td>
                                    <span th:text="${user.email}">email</span>
                                </td>
                                <td style="text-align: center">
                                    <div class="button-container" style="display: flex; justify-content: center; align-items: center; margin-left: 5px; margin-right: 5px;">
                                    <button>
                                    <a th:href="@{/user/{username}(username=${user.getUsername()})}" class="table-link text-info">
                                            <span class="fa-stack">
                                                <i class="bx bx-search-alt-2"></i>
                                            </span>
                                    </a>
                                    </button>
                                    <form th:method="post" th:action="@{/update-role/{username}(username=${user.username})}" onsubmit="checkChangeRole()">
                                        <button  th:href="@{/all-users}"  class="table-link" >
                                            <span class="fa-stack">
                                                <i class='bx bxs-up-arrow text-info' th:if="${user.getRole().name().equals('REGULAR')}" ></i>
                                                <i class='bx bxs-down-arrow text-danger' th:if="${user.getRole().name().equals('LECTURER')}" ></i>
                                            </span>
                                        </button>
                                    </form>
                                    <form th:method="post" th:action="@{/ban/{username}(username=${user.username})}" onsubmit="checkBan()">
                                        <button  th:href="@{/all-users}"  class="table-link" >
                                            <span class="fa-stack">
                                                <i class='bx bxs-circle text-danger' th:if="${user.isBanned}" ></i>
                                                <i class='bx bxs-circle text-success' th:if="${!user.isBanned}" ></i>
                                            </span>
                                        </button>
                                    </form>
                                    <form th:method="post"  th:action="@{/delete/{username}(username=${user.username})}" onsubmit="checkDelete()">
                                    <button  th:href="@{/all-users}" class="table-link text-dark" >
                                            <span class="fa-stack">
                                                <i class='bx bx-trash' ></i>
                                            </span>
                                    </button>
                                    </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html}"></th:block>
<script>
    function checkDelete() {
        var result = confirm("Are you sure you want to delete the user?");
        if (result === false) {
            event.preventDefault();
        }

    }

    function checkBan() {
        var result = confirm("Are you sure you want to ban the user?");
        if (result === false) {
            event.preventDefault();
        }

    }
    function checkChangeRole() {
        var result = confirm("Are you sure you want to update the user's role?");
        if (result === false) {
            event.preventDefault();
        }
    }
</script>
</body>
