<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/all-users.css}">
</head>
<body>

<th:block th:replace="~{fragments/header.html}"></th:block>
<div class="container" th:action="@{/all-users}" th:method="POST" th:object="${allUsersView}" >
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="main-box-body clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th><span>User</span></th>
                                <th><span>Joined</span></th>
                                <th><span>Full Name</span></th>
                                <th><span>Email</span></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${allUsersView.getAllUsers()}">
                                <td >
                                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="">
                                    <a th:text="${user.username}" th:href="@{/user/{username}(username=${user.getUsername()})}" class="user-link">Username</a>
                                    <span th:text="${user.role}" class="user-subhead">Role</span>
                                </td>
                                <td>
                                    <span th:text="${user.joined}" class="user-subhead">Date</span>
                                </td>
                                <td>
                                    <span th:text="${user.firstName} + ' ' + ${user.lastName}">Full name</span>
                                </td>
                                <td>
                                    <span th:text="${user.email}">email</span>
                                </td>
                                <td>
                                    <a th:href="@{/user/{username}(username=${user.getUsername()})}" class="table-link text-warning">
                                            <span class="fa-stack">
                                                <i class="bx bx-search-alt-2"></i>
                                            </span>
                                    </a>
                                    <a onclick="check()" th:method="post" th:href="@{/all-users}" th:action="@{/user/{username}}" class="table-link danger">
                                            <span class="fa-stack">
                                                <i class='bx bx-trash' ></i>
                                            </span>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{fragments/footer.html}"></th:block>
<script>
    function check() {
        var result = confirm("Are you sure you want to delete the user?");
        if (result === false) {
            event.preventDefault();
        }

    }
</script>
</body>
