<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/all-users.css}">
</head>
<body onload="getAllCourses()">

<th:block th:replace="~{fragments/header.html}"></th:block>

<section class="intro">
    <div class="bg-image h-100" style="background-color: #f5f7fa;">
        <div class="mask d-flex align-items-center h-100">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body p-0">
                                <div class="table-responsive table-scroll" data-mdb-perfect-scrollbar="true" style="position: relative; height: 700px">
                                    <table class="table table-striped mb-0">
                                        <thead style="background-color: #002d72;">
                                        <tr>
                                            <th scope="col">Course name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Date</th>
                                            <th scope="col">Author</th>
                                            <th scope="col">Price</th>
                                        </tr>
                                        </thead>
                                        <tbody id="tbody">

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<th:block th:replace="~{fragments/footer.html}"></th:block>
<script src="/js/courses.js"></script>
</body>
