<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/edit-profile.css}">
</head>
<body>

<th:block th:replace="~{fragments/header.html}"></th:block>
<section class="edit-profile" id="edit-profile">
    <div class="edit-profile-text text-center">
        <div class="edit-profile-form--wrapper">
            <h1 class="register-header" >Edit Profile</h1>
            <form th:action="@{/edit-profile/{username}(username=${username})}" th:method="POST" th:object="${editProfileDTO}" id="edit-profile-form">
                <div class="edit-profile-form-field">
                    <p>First Name</p>
                    <input id="firstName" class="edit-profile-form-email" th:field="*{firstName}" type="text" placeholder="First Name">
                </div>
                <div class="edit-profile-form-field">
                    <p>Last Name</p>
                    <input id="lastName" class="edit-profile-form-email" th:field="*{lastName}" type="text" placeholder="Last Name">
                </div>
                <div class="edit-profile-form-field">
                    <p>New E-mail</p>
                    <input id="email" class="edit-profile-form-email" th:field="*{email}" type="email" placeholder="E-mail">
                </div>
                <p th:if="${emailError}" style="color: red" th:text="${emailError}"></p>
                <div class="edit-profile-form-field" autocomplete="off">
                    <p>Confirm E-mail</p>
                    <input id="confirm-email" class="edit-profile-form-email" th:field="*{confirmEmail}" type="email" placeholder="Confirm e-mail">
                </div>
                <p th:if="${confirmEmailError}" style="color: red" th:text="${confirmEmailError}"></p>
                <div class="edit-profile-form-field" autocomplete="off">
                    <p>Gender</p>
                    <input id="gender" class="edit-profile-form-gender" th:field="*{gender}" type="text" placeholder="Male, Female or Other">
                </div>
                <p th:if="${genderError}" style="color: red" th:text="${genderError}"></p>
                <div class="edit-profile-form-field">
                    <p>Website</p>
                    <input id="website" class="edit-profile-form-media" th:field="*{website}" type="text" placeholder="Website">
                </div>
                <p th:if="${websiteError}" style="color: red" th:text="${websiteError}"></p>
                <div class="edit-profile-form-field">
                    <p>Twitter</p>
                    <input id="twitter" class="edit-profile-form-media" th:field="*{twitter}" type="text" placeholder="Twitter">
                </div>
                <p th:if="${twitterError}" style="color: red" th:text="${twitterError}"></p>
                <div class="edit-profile-form-field">
                    <p>Instagram</p>
                    <input id="instagram" class="edit-profile-form-media" th:field="*{instagram}" type="text" placeholder="Instagram">
                </div>
                <p th:if="${instagramError}" style="color: red" th:text="${instagramError}"></p>
                <div class="edit-profile-form-field">
                    <p>Facebook</p>
                    <input id="facebook" class="edit-profile-form-media" th:field="*{facebook}" type="text" placeholder="Facebook">
                </div>
                <p th:if="${facebookError}" style="color: red" th:text="${facebookError}"></p>
                <div class="edit-profile-form-field">
                    <p>Facebook</p>
                    <input id="headline" class="edit-profile-form-media" th:field="*{headline}" type="text" placeholder="Headline">
                    <span class="error"></span>
                </div>
                <button name="submit-button" class="edit-profile-button" type="submit">Save</button>
            </form>
        </div>
    </div>
</section>
<th:block th:replace="~{fragments/footer.html}"></th:block>
<script type="text/javascript">

    document.getElementById("edit-profile-form").addEventListener("submit", function(event) {
        var gender = document.getElementById("gender").value;
        var email = document.getElementById("email").value;
        var confirmEmail = document.getElementById("confirm-email").value;

        if (gender.toString().length === 0) {

        } else {
            if (!isValidInput(gender)) {
                event.preventDefault();
                alert("Invalid gender!")
            }
        }

        if (email !== confirmEmail) {
            event.preventDefault();
            alert("Invalid email!")
        }
    });

    function isValidInput(gender) {
        var validValues = ['MALE', 'FEMALE', 'OTHER'];
        return validValues.includes(gender.toString().toUpperCase());
    }

</script>
</body>
</html>