<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org/">
<head>
    <th:block th:replace="~{fragments/head.html}"></th:block>
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}">
</head>
<body>
<th:block th:replace="~{fragments/header.html}"></th:block>
<section class="forgot-password" id="forgot-password">
    <div class="forgot-password-text text-center">
    <div class="forgot-password-form">
        <h1 class="sign-in-header">Reset password</h1>
        <form th:method="post" th:action="@{/forgot-password}">
            <div class="forgot-password-form-field">
                <input name="email" class="forgot-password-form-email" type="email" placeholder="Email" required>
            </div>
            <p th:if="${error}" style="color: red" th:text="${error}"></p>
            <input class="reset-button" type="submit" value="Reset">
        </form>
    </div>
    </div>
</section>
<th:block th:replace="~{fragments/footer.html}"></th:block>
</body>
</html>